<mat-toolbar>
  File uploader
  <div style="width: 20px"></div>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/downloads">Downloads</button>
  <button mat-button routerLink="/about">About</button>
  <div style="flex: 1"></div>
  <button mat-button (click)="openUploadModal()" class="icon-button">
    <mat-icon>upload</mat-icon>
  </button>
  <a href="https://github.com/Bouteille158/file-uploader-front" target="_blank">
    <button mat-button>Github</button>
  </a>
</mat-toolbar>
